@font-face{
    font-family: Oswald-Regular;
    src: url(../../assets/fonts/Oswald-Regular.ttf);
    
}

@font-face{
    font-family: Montserrat-Regular;
    src: url(../../assets/fonts/Montserrat-Regular.ttf);
}

@font-face{
    font-family: Montserrat-Bold;
    src: url(../../assets/fonts/Montserrat-Bold.ttf);
}

html{
    font-size: 62,5%;
}

.container__time{   
    display: flex;
    justify-content: center;
    
}

    

.time {

    
    width: 1400px;
    margin: 0 5%;
    background: black;
    height: 100%;
    
}

.title__time{

    color: white;
    margin: 5% 0 .5% 0;
    font-size: 3rem;
    font-family: Oswald-Regular;

}

.traco_time{
    
    width: 3em;
    height: .5em;
    background: #6CE95A;
    border-radius: .2em;
}

.time__info{
    text-align: center !important;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 1em;
    margin-top: 1.5em;
    opacity: 0;
    animation-name: time;
    animation-duration: 0s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

.time__info_h{
    visibility: hidden;
    text-align: center !important;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 1em;
    margin-top: 1.5em;
}

.time__info .memb_card {
    opacity: 0;
    animation-name: from-l;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

.time__info .memb_card1 {
    opacity: 0;
    animation-name: from-u;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.time__info .memb_card2 {
    opacity: 0;
    animation-name: from-d;
    animation-duration: 2s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

.time__info .memb_card3 {
    opacity: 0;
    animation-name: from-u;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.time__info .memb_card4 {
    opacity: 0;
    animation-name: from-r;
    animation-duration: 2s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
      
}


.time__text{
    color: white !important;
    font-family: Montserrat-Regular;    
    font-size: 1em;
    text-align: center !important;
    margin-top: 20px;
}

.time__text__cargo{
    color: white !important;
    font-family: Montserrat-Regular;    
    font-size: 1em;
    text-align: center !important;
    height : 60px;
    margin-top : 10px;
    margin-bottom: 10px;
   
   
}
.time_instF{
    font-size: 30px;
    color:#6CE95A;
    margin: 6%;
}

.time_image{
    width:69% ;
    border-radius: 5%;
    margin-top: 70px;
}
.time__info{
        margin-top: 1.5em;
}
    

@media (max-width: 800px) {




    .time__info{    
        align-items: center;
        flex-wrap: wrap; /*função pra quebrar os elemntos*/

    }
    .time__text{
        text-align: center;
        margin-top: 1.5em;
        font-size: 1em;
        width: 100%; 

    }
    .time__text__cargo{
        font-size: 1em;

    }
    .time_image{
        width: 30% !important;
        margin: 1em 0 0;
       
         
    }


}

@keyframes time{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}

@keyframes from-u{
    from{
        opacity: 0;
        transform: translateY(20%);
    }to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes from-d{
    from{
        opacity: 0;
        transform: translateY(-20%);
    }to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes from-l{
    from{
        opacity: 0;
        transform: translateX(-20%);
    }to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes from-r{
    from{
        opacity: 0;
        transform: translateX(20%);
    }to{
        opacity: 1;
        transform: translateX(0);
    }
}